alembic==0.9.5
blinker==1.4
Flask==0.12
Flask-Bootstrap==3.3.7.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.0
Flask-Moment==0.5.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
Flask-Login==0.4.0
itsdangerous==0.24
Jinja2==2.9.4
Mako==1.0.7
MarkupSafe==0.23
SQLAlchemy==1.1.13
Werkzeug==0.11.15
WTForms==2.1
